body{margin: 0;}

.visual{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333455;
    position: sticky;
    top: 0;
    width: 100%;
    border: 2px solid #e7e7e7;
}

.Seefmd{
margin: 15px;
width: 70%;
}

li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: #111;
    color: #ff6347;
}
.active{
    background-color: #04aa6d;
}
